<h1>WELCOME TO BEERTRACKR</h1>

<% @floors.each do |floor|%>
<br>


    <div class="row">

    <div class="floor_column">
      <%= link_to "#{floor.building} - #{floor.floor_number.ordinalize} floor", floor_path(floor) %>
    </div>
     <div class="beer_column">
     <% if floor.kegs.last %>
        <% @current_keg = floor.kegs.last %>

        <%= "Last seen on #{@current_keg.show_day}" %>
        <br>
        <%= link_to @current_keg.name, @current_keg %>
      <% end %>
      </div>
     <div class="rating_column">
    <% if floor.kegs.last%>
        <% @current_keg = floor.kegs.last%>
        <%= @current_keg.beer_emoji %>
    <% end %>
     </div>
    </div>
<% end %>
