<h1><%= @floor.floor_number.ordinalize %> Floor</h1>

<div class="current_beer">
  <h2>Current Beer:<br>
    <% if @floor.kegs %>
      <%= link_to @floor.kegs.first.name, @floor.kegs.first %>
    <% else %>
      <p>Sorry, no beer here!</p>
    <% end %>
</h2></div>
  <div class="past_beers">
  <h3>Past Beers:<br>
    <ul>
      <% @floor.kegs.drop(1).each do |k| %>
      <li><%= link_to k.name, k %></li>
      <% end %>
    </ul>
  </h3>
</div>
